.add-campaign-btn {
    background-color: #01B5D8;
    border: none;
    outline: none;
    color: white;
    border-radius: 15px;
    padding: 15px 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    transition: 200ms;
    box-shadow: rgba(40, 179, 249, 0.5) 0px 7px 29px 0px;

}

.add-campaign-btn:hover {
    background-color: #0295C8;
}

.add-campaign-form {
    display: flex;
    flex-direction: column;
}

.add-campaign-input {
    margin-top: 5px;
    background-color: #f6f6f6;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.error-msg {
    margin-top: 5px;
    margin-bottom: -10px;
    text-align: center;
    color: tomato;
}

.btns-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    height: 43px;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 40%;
}

.add-btn {
    background-color: #01B5D8;
    color: white;
    margin-right: 20px;
    transition: 200ms;
}

.add-btn:hover {
    background-color: #0295C8;
}

.cancel-btn {
    background-color: white;
    border: 1px solid black;
    transition: 200ms;
}

.cancel-btn:hover {
    background-color: black;
    color: white;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 3;
    background: rgba(49,49,49,0.7);
}

.add-campaign-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ADE8F6;
    width: 20vw;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

@media only screen and (max-width: 1100px) {
    .add-campaign-wrapper {
        width: 35vw;
    }
  }

  @media only screen and (max-width: 700px) {
    .add-campaign-wrapper {
        width: 55vw;
    }
  }

  @media only screen and (max-width: 450px) {
    .add-campaign-btn {
        padding: 13px 7px;
        font-size: 0.9rem;
    }

    .add-campaign-wrapper {
        width: 75vw;
    }

    .btns-wrapper {
        flex-direction: column;
    }

    .btn {
        width: 100%;
    }

    .add-btn {
        margin-right: 0;
        margin-bottom: 10px;
    }
  }